language: python
python:
  - '3.6'
  - '3.5'
  - '3.7'
before_install:
  - sudo apt-get update -qq
#  Using pip to install instead of setup.py for now to fix numba issue.
#install: python setup.py install
dist: xenial
sudo: true
install: pip install .
script: pwd
stages:
  - name: after_success
    if: env(python) = "3.6"
after_success:
  - pip install sphinx sphinx-gallery sphinx-rtd-theme numpydoc wget pysptools cvxopt
  - sphinx-build -b html -aET docs docs/_build/html
  - touch docs/_build/html/.nojekyll
before_deploy:
  - python setup.py sdist
  - python setup.py bdist_wheel
deploy:
# Github pages deployment
  - provider: pages
    skip_cleanup: true
    github_token:
      secure: mjVrbUqrp3ODpQVoVVV6ZCA7M4VBlI3AWRRO1cZBoQQBrMMu0Dzwkqq+b3qSabHspAJsoHmzq337CgPL8sA32x0BESO0EOTHaxEvL8FvmLwQ9av51C2rbzoGdZAKmiRIvwNLUpPHRitGuE165cR+dm52kjwFLzA9khBjR3Mzr8E517QBsTpZms3O3//Ifc/0E/ksfcd+/MfGP8PIf8v8HyqCJsQYU6j8gGXSvBed72pZ/uT7byjqII7RHi0/e0xsfenswkEqNhMzgjt8WMC7iXpRqTKw2A7+HQNvGMtfSI28iiO5qWVTDncsYol2Er22LJg3CJmk367E9XT70eyriizgubYba/gM3f1/wNspvXqWh94R3S0+Af5afa5pfrRpOoNXqFO7zeTWlEyF5YUPUAY/tgxKYNO3wXxlaOjHBBz8Csu/e6v/Enq1evW1MyuU1ShUFj8q9oJiQMXtfLHnorX0plu69hSkeJwpQoY+2Z1xYtl3EkhpXJ0bYKoch5ijFTRJhQErtGQRBSuqkeSGpYQipnAfyVoe5zKdvFMruWP5SxmUK4HFWtonie6a9AADy6nHd6VKDL0LRzDfpkTu8XVArQSBBIQrEdNObMztJ2SWgnuu6m0hnED8y4VoLMVgRB4vSpv3UTdiiZcg4AMo7fbZ3CtczsE80p7INrxhAvw=
    local_dir: docs/_build/html
    on:
      branch: master
      python: 3.6
# Github releases deployment
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: mjVrbUqrp3ODpQVoVVV6ZCA7M4VBlI3AWRRO1cZBoQQBrMMu0Dzwkqq+b3qSabHspAJsoHmzq337CgPL8sA32x0BESO0EOTHaxEvL8FvmLwQ9av51C2rbzoGdZAKmiRIvwNLUpPHRitGuE165cR+dm52kjwFLzA9khBjR3Mzr8E517QBsTpZms3O3//Ifc/0E/ksfcd+/MfGP8PIf8v8HyqCJsQYU6j8gGXSvBed72pZ/uT7byjqII7RHi0/e0xsfenswkEqNhMzgjt8WMC7iXpRqTKw2A7+HQNvGMtfSI28iiO5qWVTDncsYol2Er22LJg3CJmk367E9XT70eyriizgubYba/gM3f1/wNspvXqWh94R3S0+Af5afa5pfrRpOoNXqFO7zeTWlEyF5YUPUAY/tgxKYNO3wXxlaOjHBBz8Csu/e6v/Enq1evW1MyuU1ShUFj8q9oJiQMXtfLHnorX0plu69hSkeJwpQoY+2Z1xYtl3EkhpXJ0bYKoch5ijFTRJhQErtGQRBSuqkeSGpYQipnAfyVoe5zKdvFMruWP5SxmUK4HFWtonie6a9AADy6nHd6VKDL0LRzDfpkTu8XVArQSBBIQrEdNObMztJ2SWgnuu6m0hnED8y4VoLMVgRB4vSpv3UTdiiZcg4AMo7fbZ3CtczsE80p7INrxhAvw=
    file_glob: true
    file: dist/*
    on:
      tags: true
      branch: master
# PyPi deployment
  - provider: pypi
    skip_cleanup: true
    user:
      secure: WqjAoxPDvxFVE39Em9R8meOYTaCcnBKLezIsn4dInShCwSz3dPK/J/iV0q3zNJnzpSB7DoUZtpmq38sivldye+Z1lSCFl6AKXD3EcenbyFE30sE7F667cOC+7eeuXH+QRvY/MHfPQ2lnG8/ytWdDgzJbnl4NGC00nu+8k6406z2B0eKU+7ANODSQ4wXTIhyPyG4vSIr9wqaIziZtVOnpO+yg1ryiZh6sUyBxCyDH6GjqL4FECEjiDgN/FGw6fKYmSM5J3SX//RZ0X/cMZuD7Po2x1ryZBj39b9P5ZFMfwxi8JE1DE0qyVkEqBWqlZdL4SihOtxJ5bMqUGgROMOuySa9I3NoLQZQgS/0KSnXJ+bLshy37GYeJD823brPBcaWyps0C5JUJhQF2OXs1gk72z4wTyjmEq2Co8ly03nLjCAqMWPngomOYdu/cSARCJm5kzrLCOFoO6y5cCyvJaYzyU2pl10FRggOW4UDc0KF72+l5KrU8bYIc4pvGmheEVsWrgTjHPmnFX8l7oHYept0Q36jRL3Rca4Yk0wl+RwozXZptioARl+sKrLH3O9N6wXwdJSqmcZmolaEIgR4Y3ZQsgVgMj9QlNmELIy7dfYMboSdCkzBLki+957ncuB4pIv4l5kxO2+SiGBF2P18/WDpL1jGU+tzkeWK6jzYr1KGkx9g=
    password:
      secure: Zukf9GSLm+SDganP1TZ7PLK0fjKmlmanZmRZqogvdStquiN5DsdWYmkN0oCIj3iLQHI9ICTAHMHVKExbBzjj3UGs14Ei1M7J+0OqZ19G5uoyqWbhfNasTCPc35oWMdBND53+rOGhRqRPTF2DKbpMoHV7fBLoHc4f745ZMN/SJNmoI4uD2ghIAu1W3UYYVsQ+5T9a0MphTkG0aTYpkRIea72C0RMhACKjs+2YAH7pH8q/A11zYJm9OFUZqnwiIhN1WC8Xwk2qbqUKUxOGPlVAfeBl7P4aBvymFfznAOtO0dhpDKcKGPdjlPQlb/HGpIEftGm0u37TC3yf7xMQiwDbMWwR0c4ploz0BZzR4qtFX3GJRtejS0GPCN76hJUJdmjyhnBs20j8dmeiyWBF2P9TLPKP9Tah3J4Ds+dQAJ+g6CdfFNf5vj6WR+72oJsYt9WmqL8C1ZqbrTPbd5bqGwi7Z/AcKgkpkj4ZbqC2o8pQRohpQRtUPc/MM9mW6zfR91cKbalVj0omIynhUgwsQ/QRuWSHPZZpT2RV6Bwmp1std14Slt7Z2tudRQ6Oq5jYTgdxKF5tFU5rTysCDeuTi4YgtAh4S6U6iijzmLdkfoRos2nzQlGtT3djicm+xFt0L5u6/yOUcsTflCtVSPT3+kNXfK+z5CNA+dhN7cEy+I7uZYA=
    distributions: "sdist bdist_wheel"
    file_glob: true
    file:
      - dist/*.whl
      - dist/*.tar.gz
    on:
      tags: true
      branch: master
      python: 3.6
